@import '../../static/styles/variables.scss';

@media (max-width: $breakpoint_xxl) {
  .about_section {
    display: flex;
    padding: $outer_padding;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-bottom: 1px solid $border_color;

    .video_container {
      display: flex;
      margin-top: 41px;
      width: 650px;
      height: 464px;
      //align-items: center;
      //justify-content: center;
      // position: relative;
      //aspect-ratio: 4 / 3;
      //padding-bottom: 45%;

      > iframe {
        // position: absolute;
        // top: 0;
        //left: 0;
        border: 2px solid $border_color;
        border-radius: 2%;
        background-color: $background_color;
        box-shadow: $box_shadow;
        width: 100%;
        height: 100%;
      }
    }

    .container {
      display: flex;
      flex-direction: column;
      max-width: 668px;

      .h2_container {
        display: flex;
        justify-content: start;
        margin-bottom: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid $border_color;
      }

      .p_container {
        display: flex;
        align-items: center;
        text-align: justify;
      }

      .p_container:last-child {
        margin-top: 40px;
      }
    }
  }
}

@media (max-width: $breakpoint_xl) {
  .about_section {
    .video_container {
      width: 668px;
      padding-bottom: 40px;
    }
  }
}
