.root {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: $outer_padding;
  background-color: #d2c8bf;

  .video_container {
    display: flex;
    margin-top: 64px;
    width: 650px;
    height: 450px;

    > iframe {
      border: 2px solid $border_color;
      border-radius: 20px;
      background-color: $background_color;
      width: 100%;
      height: 100%;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    max-width: 668px;

    h2 {
      display: flex;
      justify-content: start;
    }

    p {
      display: flex;
      align-items: center;
      text-align: justify;
      margin-top: 40px;
    }
  }
}

@media (max-width: $breakpoint_xl) {
  .root {
    .video_container {
      width: 668px;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}

@media (max-width: $breakpoint_sm) {
  .root {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 15px;
    //min-width: 280px;

    .video_container {
      max-width: 620px;
      height: 300px;
    }

    .container {
      display: flex;
      flex-direction: column;
      max-width: 620px;

      h2 {
        margin-top: 10px;
        font-size: 20px;
      }

      p {
        font-size: 12px;
        line-height: 1.6;
      }
    }
  }
}
