//Постоянные для внешнего вида блоков
$border_color: rgba(255, 255, 255, 0.25);
//$background_color: rgba(0, 84, 104, 1);
//$background_color: rgb(0, 13, 74);
$background_color: rgba(86, 91, 148, 0.4);
$outer_padding: 40px;
$border_size: 25px 5%;
$border_radius: $border_size;
$box_shadow: 4.5px 4.5px 4.5px rgba(0, 0, 0, 0.035),
  12.5px 12.5px 12.5px rgba(0, 0, 0, 0.05),
  30.1px 30.1px 30.1px rgba(0, 0, 0, 0.065),
  100px 100px 100px rgba(0, 0, 0, 0.1);

$boxInfo_width: 1172px;
