@import '../../static/styles/variables.scss';

.info_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $outer_padding;

  .container {
    background-color: $background_color;
    border: 2px solid $border_color;
    border-radius: $border_radius;
    padding: 20px;
    box-shadow: $box_shadow;

    .h_container {
      display: flex;
      justify-content: start;
      margin-bottom: 12px;

      padding-bottom: 12px;
      border-bottom: 1px solid $border_color;
    }

    .p_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: justify;
      max-width: $boxInfo_width;
    }
  }
}
