@import '../../static/styles/variables.scss';

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 45px;
  padding-bottom: 45px;
  border-color: #fff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.25);

  .p__container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;

    > p {
      font-weight: 500;
      font-size: 18px;
      color: $h1_color;
      text-shadow: 1px 2px 3px black;
    }
  }

  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    .container__links {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      min-height: 120px;
      max-width: 120px;
      margin: 0px 20px;
      padding: 10px;

      border: 1px solid rgba(255, 255, 255, 0); //костыль для того чтобы при наведении не дёргались иконки

      > a {
        text-decoration: none;
        > img {
          height: 70px;
          width: 70px;

          filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.9));
        }
      }

      p {
        margin-top: 10px;
        font-weight: 500;
        font-size: 14px;
        color: $h1_color;
        text-shadow: 1px 2px 3px black;
      }
    }

    .container__links:hover {
      background: linear-gradient(
        180deg,
        rgba(188, 165, 255, 0) 0%,
        #214d76 100%
      );
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-radius: 40px;
    }

    .container__links:active {
      opacity: 60%;
    }
  }
}
