@import '../../static/styles/variables.scss';

.video_section {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-bottom: 1px solid $border_color;

  .video_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: $background_color;
    border-radius: $border_radius;
    box-shadow: $box_shadow;

    > iframe {
      border-radius: $border_radius;
      width: 100%;
      min-height: calc(80 * var(--vh, 1vh));
    }
  }
}
