@import '../../static/styles/variables.scss';

$border_radius: 4%;

.video_section {
  display: flex;
  flex-direction: column;
  padding: $outer_padding;
  border-bottom: 1px solid $border_color;

  .video_container {
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 12px;
    // border: 2px inset $border_color;
    // background-color: $background_color;
    // border-radius: $border_radius;
    //box-shadow: $box_shadow;
    position: relative;
    aspect-ratio: 16 / 9;

    > iframe {
      position: absolute;
      top: 0;
      left: 0;
      border: 2px solid $border_color;
      border-radius: $border_radius;
      background-color: $background_color;
      box-shadow: $box_shadow;
      width: 100%;
      height: 100%; //сделать поворот видео на мобилках?
    }
  }
}
