/** AvantGardeGothic **/
@font-face {
  font-family: 'AvantGardeGothic';
  src: url('./static/fonts/avant-garde-gothic/AvantGardeGothicC.woff2')
      format('woff2'),
    url('./static/fonts/avant-garde-gothic/AvantGardeGothicC.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/** AvantGardeGothicC-bold **/
@font-face {
  font-family: 'AvantGardeGothicBold';
  src: url('./static/fonts/avant-garde-gothic/AvantGardeGothicC-Bold.woff2')
      format('woff2'),
    url('./static/fonts/avant-garde-gothic/AvantGardeGothicC-Bold.woff')
      format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100 * var(--vh, 1vh));
  overflow: hidden;

  h1 {
    font-family: 'AvantGardeGothicBold';
    font-size: 48px;
    line-height: 1.1;
    letter-spacing: 0.05em;
    color: #ffffff;
  }

  h2 {
    font-family: 'AvantGardeGothicBold';
    font-size: 40px;
    line-height: 24px;
    color: #6d1b29;
  }

  h3 {
    font-family: 'AvantGardeGothicBold';
    font-size: 24px;
    line-height: 24px;
    color: #162249;
  }

  p {
    font-family: 'AvantGardeGothic';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #162249;
  }

  a {
    font-family: 'AvantGardeGothic';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #c87e51;
  }
  a:hover {
    color: #6d1b29;
  }
  a:active {
    opacity: 60%;
    text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.2);
  }

  li {
    font-family: 'AvantGardeGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #162249;

    list-style: square;
    list-style-position: outside;
    margin-left: 18px;
    line-height: 2;
  }
}
