body {
  min-width: 320px;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #222244;
}

::-webkit-scrollbar-thumb {
  background-color: #591d2a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4e2222;
}
